@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.content__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.content__container--choices {
  width: 18%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}

.content__container--data {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}

.content__container--content {
  margin-top: 40px;
}

.content__container--header,
.content__container--data--header {
  border: none;
  border-bottom: 0.1px solid rgb(230, 230, 230);
  padding: 20px;
  font-weight: 500;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
}

.content__container--data--header {
  padding: 30px;
}

.content__container--data--content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.content__container--data--content--form {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.content__container--data--content--picture {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.photo {
  margin-top: -100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #849fb1;
  margin-bottom: 20px;
  overflow: hidden;
}

.photo > img {
  width: 100px;
  height: 100px;
}

.upload {
  background-color: #333c45;
  color: white;
  border: none;
  width: 5em;
  height: 2em;
  border-radius: 2px;
  font-weight: 500;
  margin-right: 5px;
  box-shadow: 0px 0px 5px black;
}
.upload:active {
  box-shadow: none;
}

.remove {
  width: 5em;
  height: 2.1em;
  background-color: #849fb1;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 2px;
}

.content__container--data--content--form > form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 100px;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #849fb1;
}

input[type="text"] {
  font-family: "Lato", sans-serif;
  height: 3em;
  border: 1px solid rgb(216, 216, 216);
  text-indent: 10px;
  border-radius: 2px;
}

.profileForm__update,
.order__request--button,
.order__track--button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  height: 2.5em;
  background-color: #f71117;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1em;
  border-radius: 5px;
}

.profile__adresse {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
  display: none;
}

.profile__data__container {
  position: relative;
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}

.profile__adresse--content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.profile__adresse--content > form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  margin-top: -100px;
}

.profile__requests {
  display: none;
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}

.profile__requests--content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.content__container--header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content__container--header--picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.content__container--header--picture > img {
  width: 40px;
  height: 40px;
}

#image {
  display: none;
}

#labelImage {
  background-color: #333c45;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 2px;
}

.header__data {
  width: fit-content;
}

.dropdown {
  float: right;
  margin-top: -30px;
}
