.signup__container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.signup__container--content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.signup {
  display: flex;
  background-color: white;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.signup > .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
}
